.nav-link {
color: #FFFFFF;
font-family: Palatino, URW Palladio L, serif;
}
ul {
background-color:#000000  ;
}
body {
  background-color: #FFFFFF;
}
h1{
  font-family:Courier New;
  text-align: center;
}
 h1,p,a,h5 {
   font-family:Courier New;
 }
section {
background-color: #000000;
padding-top: 100px;
padding-bottom: 100px;
}
 .carousel-control-next {
  right: -50px;
 }
.carousel-control-prev {
  left: -50px;
}
.btn-primary {
background-color:#000000  ;
}
h4{
  font-family: Palatino, URW Palladio L, serif;
}
